@import url(https://fonts.googleapis.com/css?family=Roboto:500,700&display=swap);

@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-arrow-right:before {
  content: "\e905";
}

._icon-arrow-left:before {
  content: "\e906";
}

._icon-upwork:before {
  content: "\e900";
}

._icon-github:before {
  content: "\e901";
}

._icon-linkedin:before {
  content: "\e902";
}

._icon-instagram:before {
  content: "\e903";
}

._icon-facebook:before {
  content: "\e904";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #070707;
  line-height: 1;
  font-family: "Roboto";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 60.625rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 40px;
  line-height: 0.75;
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.rating.rating_sending {
  opacity: 0.2;
}

.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
  cursor: pointer;
}

.rating__body {
  position: relative;
}

.rating__body::before {
  content: "★★★★★";
  display: block;
  color: #d7d7d7;
  font-size: 1.5625rem;
}

.rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #4f4f4f;
  font-size: 1.5625rem;
}

.rating__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating__value {
  font-size: 50%;
  line-height: 1;
  padding: 0px 0px 0px 10px;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg--contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #fff;
}

.header._header-scroll {
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
  background-color: rgba(255, 255, 255, 0.9);
}

.menu {
  border-bottom: 1px solid black;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.625rem;
}

.menu__link {
  color: #828282;
  font-weight: 500;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu__link:hover {
  color: #070707;
}

.icon-menu {
  display: none;
}

.footer {
  background-color: #F6F6F6;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.9375rem;
}

.footer__text {
  color: #070707;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__link {
  color: #828282;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-decoration: underline;
}

.footer__link:hover {
  color: #070707;
}

.email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
}

.email__text {
  color: #070707;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}

.email__linc {
  color: #828282;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-decoration: underline;
}

.email__linc:hover {
  color: #070707;
}

.description__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
}

.description__name {
  font-weight: 700;
}

.description__info {
  line-height: 120%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
  font-weight: 500;
  text-align: center;
}

.language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.3125rem;
  color: #828282;
  font-weight: 700;
}

.language__ua {
  padding-right: 0.3125rem;
  border-right: 2px solid black;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.language__ua:hover {
  color: #070707;
}

.language__eng {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.language__eng:hover {
  color: #070707;
}

.ukr-text {
  display: none;
}

.active {
  color: #070707;
}

.photo__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.photo__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 55.625rem;
}

.photo__wrapper {
  margin-bottom: 1.25rem;
}

.photo__controll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70%;
}

.photo__arrow {
  color: #828282;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.photo__arrow:hover {
  color: #070707;
}

.photo .slide-photo__image {
  max-width: 100%;
  max-height: 600px;
  height: auto;
}

.page__about {
  background-color: #F6F6F6;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3.125rem;
}

.about__title {
  text-align: center;
  font-weight: 700;
}

.about__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 1.5625rem;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.skills__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills__title {
  text-align: center;
  font-weight: 700;
  padding-bottom: 3.125rem;
}

.skills__subtitle {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 120%;
  padding-bottom: 5rem;
}

.skills__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 3.4375rem;
     -moz-column-gap: 3.4375rem;
          column-gap: 3.4375rem;
  row-gap: 1.875rem;
}

.skills__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills__img {
  padding-bottom: 0.9375rem;
}

.skills__text {
  color: #828282;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 1.5625rem;
}

.rating__value {
  display: none;
}

.page__portfolio {
  background-color: #F6F6F6;
}

.portfolio__title {
  text-align: center;
  font-weight: 700;
  padding-bottom: 3.125rem;
}

.portfolio__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio__wrapper {
  margin-bottom: 1.25rem;
}

.swiper-slide__link img {
  max-width: 100%;
  height: auto;
}

.contacts__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__title {
  text-align: center;
  font-weight: 700;
  padding-bottom: 3.125rem;
}

.contacts__subtitle {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 120%;
  padding-bottom: 1.875rem;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-list__item {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.social-list__item:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.social-list__link {
  font-size: 2.625rem;
  color: #6CD441;
}

.swiper {
  overflow: hidden;
}

.swiper-initialized {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 60.625em) {
  .menu {
    padding-top: 1.875rem;
  }

  .menu {
    padding-bottom: 1.875rem;
  }

  .footer__container {
    padding-top: 3.125rem;
  }

  .footer__container {
    padding-bottom: 3.125rem;
  }

  .footer__list {
    gap: 1.5625rem;
  }

  .page__description {
    padding-top: 9.375rem;
  }

  .page__description {
    padding-bottom: 3.125rem;
  }

  .description__name {
    font-size: 3.125rem;
  }

  .description__info {
    font-size: 1.125rem;
  }

  .language {
    font-size: 1rem;
  }

  .page__photo {
    padding-bottom: 3.75rem;
  }

  .page__photo {
    padding-top: 3.75rem;
  }

  .page__about {
    padding-bottom: 3.75rem;
  }

  .page__about {
    padding-top: 3.75rem;
  }

  .about__title {
    font-size: 2.1875rem;
  }

  .page__skills {
    padding-bottom: 3.75rem;
  }

  .page__skills {
    padding-top: 3.75rem;
  }

  .skills__title {
    font-size: 2.1875rem;
  }

  .page__portfolio {
    padding-bottom: 3.75rem;
  }

  .page__portfolio {
    padding-top: 3.75rem;
  }

  .portfolio__title {
    font-size: 2.1875rem;
  }

  .page__contacts {
    padding-bottom: 3.75rem;
  }

  .page__contacts {
    padding-top: 3.75rem;
  }

  .contacts__title {
    font-size: 2.1875rem;
  }

  .social-list {
    gap: 3.75rem;
  }
}

@media (max-width: 20em) {
  .menu {
    padding-top: 0.625rem;
  }

  .menu {
    padding-bottom: 0.625rem;
  }

  .footer__container {
    padding-top: 1.875rem;
  }

  .footer__container {
    padding-bottom: 1.875rem;
  }

  .footer__list {
    gap: 0.625rem;
  }

  .page__description {
    padding-top: 8.125rem;
  }

  .page__description {
    padding-bottom: 1.875rem;
  }

  .description__name {
    font-size: 2.1875rem;
  }

  .description__info {
    font-size: 0.9375rem;
  }

  .language {
    font-size: 0.875rem;
  }

  .page__photo {
    padding-bottom: 1.875rem;
  }

  .page__photo {
    padding-top: 1.875rem;
  }

  .page__about {
    padding-bottom: 1.875rem;
  }

  .page__about {
    padding-top: 1.875rem;
  }

  .about__title {
    font-size: 1.875rem;
  }

  .page__skills {
    padding-bottom: 1.875rem;
  }

  .page__skills {
    padding-top: 1.875rem;
  }

  .skills__title {
    font-size: 1.875rem;
  }

  .page__portfolio {
    padding-bottom: 1.875rem;
  }

  .page__portfolio {
    padding-top: 1.875rem;
  }

  .portfolio__title {
    font-size: 1.875rem;
  }

  .page__contacts {
    padding-bottom: 1.875rem;
  }

  .page__contacts {
    padding-top: 1.875rem;
  }

  .contacts__title {
    font-size: 1.875rem;
  }

  .social-list {
    gap: 1.25rem;
  }
}

@media (max-width: 47.99875em) {
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .menu {
    border-bottom: none;
  }

  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
    left: -100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    overflow: auto;
    background-color: rgba(217, 228, 232, 0.9764705882);
    gap: 1.875rem;
    padding-bottom: 1.875rem;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1.875rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@media (max-width: 47.99875em) and (max-width: 20em) {
  .menu__body {
    padding-top: 3.75rem;
  }

  .menu__list {
    font-size: 1.875rem;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (min-width: 20em) and (max-width: 60.625em) {
@supports (padding-top: clamp( 0.625rem , 0.0096153846rem  +  3.0769230769vw , 1.875rem )) {
    .menu {
      padding-top: clamp( 0.625rem , 0.0096153846rem  +  3.0769230769vw , 1.875rem );
    }
}

@supports not (padding-top: clamp( 0.625rem , 0.0096153846rem  +  3.0769230769vw , 1.875rem )) {
    .menu {
      padding-top: calc(0.625rem + 1.25 * (100vw - 20rem) / 40.625);
    }
}

@supports (padding-bottom: clamp( 0.625rem , 0.0096153846rem  +  3.0769230769vw , 1.875rem )) {
    .menu {
      padding-bottom: clamp( 0.625rem , 0.0096153846rem  +  3.0769230769vw , 1.875rem );
    }
}

@supports not (padding-bottom: clamp( 0.625rem , 0.0096153846rem  +  3.0769230769vw , 1.875rem )) {
    .menu {
      padding-bottom: calc(0.625rem + 1.25 * (100vw - 20rem) / 40.625);
    }
}

@supports (padding-top: clamp( 1.875rem , 1.2596153846rem  +  3.0769230769vw , 3.125rem )) {
    .footer__container {
      padding-top: clamp( 1.875rem , 1.2596153846rem  +  3.0769230769vw , 3.125rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 1.2596153846rem  +  3.0769230769vw , 3.125rem )) {
    .footer__container {
      padding-top: calc(1.875rem + 1.25 * (100vw - 20rem) / 40.625);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 1.2596153846rem  +  3.0769230769vw , 3.125rem )) {
    .footer__container {
      padding-bottom: clamp( 1.875rem , 1.2596153846rem  +  3.0769230769vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.2596153846rem  +  3.0769230769vw , 3.125rem )) {
    .footer__container {
      padding-bottom: calc(1.875rem + 1.25 * (100vw - 20rem) / 40.625);
    }
}

@supports (gap: clamp( 0.625rem , 0.1634615385rem  +  2.3076923077vw , 1.5625rem )) {
    .footer__list {
      gap: clamp( 0.625rem , 0.1634615385rem  +  2.3076923077vw , 1.5625rem );
    }
}

@supports not (gap: clamp( 0.625rem , 0.1634615385rem  +  2.3076923077vw , 1.5625rem )) {
    .footer__list {
      gap: calc(0.625rem + 0.9375 * (100vw - 20rem) / 40.625);
    }
}

@supports (padding-top: clamp( 8.125rem , 7.5096153846rem  +  3.0769230769vw , 9.375rem )) {
    .page__description {
      padding-top: clamp( 8.125rem , 7.5096153846rem  +  3.0769230769vw , 9.375rem );
    }
}

@supports not (padding-top: clamp( 8.125rem , 7.5096153846rem  +  3.0769230769vw , 9.375rem )) {
    .page__description {
      padding-top: calc(8.125rem + 1.25 * (100vw - 20rem) / 40.625);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 1.2596153846rem  +  3.0769230769vw , 3.125rem )) {
    .page__description {
      padding-bottom: clamp( 1.875rem , 1.2596153846rem  +  3.0769230769vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.2596153846rem  +  3.0769230769vw , 3.125rem )) {
    .page__description {
      padding-bottom: calc(1.875rem + 1.25 * (100vw - 20rem) / 40.625);
    }
}

@supports (font-size: clamp( 2.1875rem , 1.7259615385rem  +  2.3076923077vw , 3.125rem )) {
    .description__name {
      font-size: clamp( 2.1875rem , 1.7259615385rem  +  2.3076923077vw , 3.125rem );
    }
}

@supports not (font-size: clamp( 2.1875rem , 1.7259615385rem  +  2.3076923077vw , 3.125rem )) {
    .description__name {
      font-size: calc(2.1875rem + 0.9375 * (100vw - 20rem) / 40.625);
    }
}

@supports (font-size: clamp( 0.9375rem , 0.8451923077rem  +  0.4615384615vw , 1.125rem )) {
    .description__info {
      font-size: clamp( 0.9375rem , 0.8451923077rem  +  0.4615384615vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 0.9375rem , 0.8451923077rem  +  0.4615384615vw , 1.125rem )) {
    .description__info {
      font-size: calc(0.9375rem + 0.1875 * (100vw - 20rem) / 40.625);
    }
}

@supports (font-size: clamp( 0.875rem , 0.8134615385rem  +  0.3076923077vw , 1rem )) {
    .language {
      font-size: clamp( 0.875rem , 0.8134615385rem  +  0.3076923077vw , 1rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.8134615385rem  +  0.3076923077vw , 1rem )) {
    .language {
      font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 40.625);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.9519230769rem  +  4.6153846154vw , 3.75rem )) {
    .page__photo {
      padding-bottom: clamp( 1.875rem , 0.9519230769rem  +  4.6153846154vw , 3.75rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.9519230769rem  +  4.6153846154vw , 3.75rem )) {
    .page__photo {
      padding-bottom: calc(1.875rem + 1.875 * (100vw - 20rem) / 40.625);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.9519230769rem  +  4.6153846154vw , 3.75rem )) {
    .page__photo {
      padding-top: clamp( 1.875rem , 0.9519230769rem  +  4.6153846154vw , 3.75rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.9519230769rem  +  4.6153846154vw , 3.75rem )) {
    .page__photo {
      padding-top: calc(1.875rem + 1.875 * (100vw - 20rem) / 40.625);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.9519230769rem  +  4.6153846154vw , 3.75rem )) {
    .page__about {
      padding-bottom: clamp( 1.875rem , 0.9519230769rem  +  4.6153846154vw , 3.75rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.9519230769rem  +  4.6153846154vw , 3.75rem )) {
    .page__about {
      padding-bottom: calc(1.875rem + 1.875 * (100vw - 20rem) / 40.625);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.9519230769rem  +  4.6153846154vw , 3.75rem )) {
    .page__about {
      padding-top: clamp( 1.875rem , 0.9519230769rem  +  4.6153846154vw , 3.75rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.9519230769rem  +  4.6153846154vw , 3.75rem )) {
    .page__about {
      padding-top: calc(1.875rem + 1.875 * (100vw - 20rem) / 40.625);
    }
}

@supports (font-size: clamp( 1.875rem , 1.7211538462rem  +  0.7692307692vw , 2.1875rem )) {
    .about__title {
      font-size: clamp( 1.875rem , 1.7211538462rem  +  0.7692307692vw , 2.1875rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.7211538462rem  +  0.7692307692vw , 2.1875rem )) {
    .about__title {
      font-size: calc(1.875rem + 0.3125 * (100vw - 20rem) / 40.625);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.9519230769rem  +  4.6153846154vw , 3.75rem )) {
    .page__skills {
      padding-bottom: clamp( 1.875rem , 0.9519230769rem  +  4.6153846154vw , 3.75rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.9519230769rem  +  4.6153846154vw , 3.75rem )) {
    .page__skills {
      padding-bottom: calc(1.875rem + 1.875 * (100vw - 20rem) / 40.625);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.9519230769rem  +  4.6153846154vw , 3.75rem )) {
    .page__skills {
      padding-top: clamp( 1.875rem , 0.9519230769rem  +  4.6153846154vw , 3.75rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.9519230769rem  +  4.6153846154vw , 3.75rem )) {
    .page__skills {
      padding-top: calc(1.875rem + 1.875 * (100vw - 20rem) / 40.625);
    }
}

@supports (font-size: clamp( 1.875rem , 1.7211538462rem  +  0.7692307692vw , 2.1875rem )) {
    .skills__title {
      font-size: clamp( 1.875rem , 1.7211538462rem  +  0.7692307692vw , 2.1875rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.7211538462rem  +  0.7692307692vw , 2.1875rem )) {
    .skills__title {
      font-size: calc(1.875rem + 0.3125 * (100vw - 20rem) / 40.625);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.9519230769rem  +  4.6153846154vw , 3.75rem )) {
    .page__portfolio {
      padding-bottom: clamp( 1.875rem , 0.9519230769rem  +  4.6153846154vw , 3.75rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.9519230769rem  +  4.6153846154vw , 3.75rem )) {
    .page__portfolio {
      padding-bottom: calc(1.875rem + 1.875 * (100vw - 20rem) / 40.625);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.9519230769rem  +  4.6153846154vw , 3.75rem )) {
    .page__portfolio {
      padding-top: clamp( 1.875rem , 0.9519230769rem  +  4.6153846154vw , 3.75rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.9519230769rem  +  4.6153846154vw , 3.75rem )) {
    .page__portfolio {
      padding-top: calc(1.875rem + 1.875 * (100vw - 20rem) / 40.625);
    }
}

@supports (font-size: clamp( 1.875rem , 1.7211538462rem  +  0.7692307692vw , 2.1875rem )) {
    .portfolio__title {
      font-size: clamp( 1.875rem , 1.7211538462rem  +  0.7692307692vw , 2.1875rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.7211538462rem  +  0.7692307692vw , 2.1875rem )) {
    .portfolio__title {
      font-size: calc(1.875rem + 0.3125 * (100vw - 20rem) / 40.625);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.9519230769rem  +  4.6153846154vw , 3.75rem )) {
    .page__contacts {
      padding-bottom: clamp( 1.875rem , 0.9519230769rem  +  4.6153846154vw , 3.75rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.9519230769rem  +  4.6153846154vw , 3.75rem )) {
    .page__contacts {
      padding-bottom: calc(1.875rem + 1.875 * (100vw - 20rem) / 40.625);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.9519230769rem  +  4.6153846154vw , 3.75rem )) {
    .page__contacts {
      padding-top: clamp( 1.875rem , 0.9519230769rem  +  4.6153846154vw , 3.75rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.9519230769rem  +  4.6153846154vw , 3.75rem )) {
    .page__contacts {
      padding-top: calc(1.875rem + 1.875 * (100vw - 20rem) / 40.625);
    }
}

@supports (font-size: clamp( 1.875rem , 1.7211538462rem  +  0.7692307692vw , 2.1875rem )) {
    .contacts__title {
      font-size: clamp( 1.875rem , 1.7211538462rem  +  0.7692307692vw , 2.1875rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.7211538462rem  +  0.7692307692vw , 2.1875rem )) {
    .contacts__title {
      font-size: calc(1.875rem + 0.3125 * (100vw - 20rem) / 40.625);
    }
}

@supports (gap: clamp( 1.25rem , 0.0192307692rem  +  6.1538461538vw , 3.75rem )) {
    .social-list {
      gap: clamp( 1.25rem , 0.0192307692rem  +  6.1538461538vw , 3.75rem );
    }
}

@supports not (gap: clamp( 1.25rem , 0.0192307692rem  +  6.1538461538vw , 3.75rem )) {
    .social-list {
      gap: calc(1.25rem + 2.5 * (100vw - 20rem) / 40.625);
    }
}
}

@media (max-width: 47.99875em) and (min-width: 60.625em) {
  .menu__body {
    padding-top: 6.25rem;
  }

  .menu__list {
    font-size: 3.125rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 60.625em) {
@supports (padding-top: clamp( 3.75rem , 2.5192307692rem  +  6.1538461538vw , 6.25rem )) {
    .menu__body {
      padding-top: clamp( 3.75rem , 2.5192307692rem  +  6.1538461538vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 3.75rem , 2.5192307692rem  +  6.1538461538vw , 6.25rem )) {
    .menu__body {
      padding-top: calc(3.75rem + 2.5 * (100vw - 20rem) / 40.625);
    }
}

@supports (font-size: clamp( 1.875rem , 1.2596153846rem  +  3.0769230769vw , 3.125rem )) {
    .menu__list {
      font-size: clamp( 1.875rem , 1.2596153846rem  +  3.0769230769vw , 3.125rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.2596153846rem  +  3.0769230769vw , 3.125rem )) {
    .menu__list {
      font-size: calc(1.875rem + 1.25 * (100vw - 20rem) / 40.625);
    }
}
}